.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ТАБЛИЦА */
.table {
  background: white;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid #eee;
}

/* СТРОКА */
.row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr;
  padding: 15px 20px;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.head {
  font-weight: 600;
  background: #f9fafb;
}

/* КНОПКА */
.viewBtn {
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
  background: #6366f1;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.viewBtn:hover {
  background: #4f46e5;
}

/* СТАТУСЫ */
.status {
  padding: 6px 10px;
  border-radius: 10px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  margin-right: 15px;
}

/* разные цвета */
.new {
  background: #e0e7ff;
  color: #4338ca;
}

.processing {
  background: #fef3c7;
  color: #92400e;
}

.shipped {
  background: #d1fae5;
  color: #065f46;
}

.completed {
  background: #dcfce7;
  color: #166534;
}

.cancelled {
  background: #fee2e2;
  color: #991b1b;
}